[run]
# Tell coverage to look for source files in the current directory
source = .

# Automatically ignore these files/folders from coverage
omit =
    */tests/*
    */.venv/*
    */migrations/*
    setup.py
    web/app.py                # Omit the Streamlit UI
    tracing.py                # Omit OpenTelemetry setup
    cli/start_conversation.py # Omit the main CLI runner script
    */__init__.py             # Omit all __init__.py files

[report]
# Show missing lines in the console output
show_missing = True
