apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: GET
      timeInterval: 10s
      manageAlerts: true
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo
